/* footer */
@import '_mixins.scss';


.footer {
    &__top {
        padding: 24px 0 21px;
        background-color: var(--color-EAEAEA);
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        display: block;
        margin-bottom: 25px;
        outline: none;
    }
   
    &__social-list {
        display: flex;
        font-size: 0;
    }
    &__social-item {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__social-link {
        display: block;
        padding: 3px;
        outline: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
        svg {
            fill: var(--color-999999);
            transition: fill 0.3s ease-in-out;
        }

        &:focus {
            background-color: var(--color-C998FB);
            svg {
                fill: var(--color-FFFFFF);
            }
        }
        
        &:hover {
            background-color: transparent;
            svg {
                fill: var(--color-A65CF0);
            }
        }
                
        &:active {
            background-color: transparent;
            svg {
                fill: var(--color-7033AC);
            }
        }
    }

    &__right {
        display: flex;
        padding-top: 3px;
    }
    &__lists {
        margin-right: 110px;
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-right: 95px;
        }
        &:nth-child(3) {
            margin-right: 127px;
        }
    }
    &__title {
        margin-bottom: 4px;
        padding-left: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: var(--color-333333);
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        margin-bottom: 6px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        padding: 0 10px;
        font-size: 14px;
        line-height: 100%; 
        color: var(--color-999999);
        @include statesHeaderLink();
    }

    &__bottom {
        padding: 5px 0 6px;
        background-color: var(--color-F7F7F7);
    }

    &__span {
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: var(--color-999999);
        
    }
}

@media (max-width: 1300px) {
    .footer {
        &__lists {
            margin-right: 74px;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-right: 56px;
            }
            &:nth-child(3) {
                margin-right: 91px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .footer {

        &__top {
            padding-top: 20px;
        }
        
        &__container {
          flex-direction: column;
        }

        &__left {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 21px;
        }

        &__logo {
            margin-bottom: 0;
            padding-top: 5px;
        }

        &__right {
            justify-content: space-between;
            margin-left: -10px;
        }

        &__lists {
            margin-right: 0px;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-right: -19px;
            }
            &:nth-child(3) {
                margin-right: 16px;
            }
        }
    }
}

@media (max-width: 767px) { 
    .footer {

        // &__top {
        //     padding-top: 20px;
        // }
        
        // &__container {
        //   flex-direction: column;
        // }

        &__left {

        
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 21px;
        }

        // &__logo {
        //     margin-bottom: 0;
        //     padding-top: 5px;
        // }

        &__right {
        //   flex-wrap: wrap;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-row-gap: 24px;
          grid-column-gap: 1px;
        }

        &__lists {
            width: calc((100% - 32px) / 2);
            margin-right: 0px;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-right: 0px;
            }
            &:nth-child(3) {
                margin-right: 0px;
            }
        }
    }
}


@media (max-width: 532px) { 
    .footer {
        &__logo {
            margin-bottom: 17px;
        }
        &__lists {
            width: 100%;

        }
    }
}