/* header */
@import '_mixins.scss';


.header {
    margin-bottom: 31px;

    &__top {
        padding: 15px 0;
        background-color: var(--color-F6F6F6);
    }

    &__container {
        &--top {
            align-items: center;
        }
    }

    &-top {
        &__left {
            margin-right: auto;
        }

        &__span {
            margin-right: -2px;
            font-size: 16px;
            line-height: 120%;
            color: var(--color-333333);
        }

        &__select {
            margin-right: 24px;

        }

        &__phone {
            font-size: 14px;
            line-height: 100%;
            color: var(--color-FF862F);
            outline: none;
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

            svg {
                fill: var(--color-FF862F);
                transition: fill 0.3s ease-in-out;
            }

            &:focus {
                color: var(--color-FF862F);
                background-color: var(--color-FFF5D1);

                svg {
                    fill: var(--color-FF862F);
                }
            }

            &:hover {
                color: var(--color-FFBD59);
                background-color: transparent;

                svg {
                    fill: var(--color-FFBD59);
                }
            }

            &:active {
                color: var(--color-BB370E);
                background-color: transparent;

                svg {
                    fill: var(--color-BB370E);
                }
            }


        }

        &__right {
            margin-right: -10px;
        }

        &__item {
            margin-right: 44px;
        }

        &__item:last-child {
            margin: 0;
        }

        &__link {
            padding: 0 10px;
            font-size: 14px;
            line-height: 100%;
            color: var(--color-999999);
            @include statesHeaderLink();
        }
    }



    &__container--center {
        align-items: center;
    }

    &-center {
        padding: 33px 0 29px;
        background-color: var(--color-FFFFFF);

        &__logo {
            outline: none;
        }

        &__left {
            margin-right: auto;
        }

        &__right {
            margin-right: -7px;
        }

        &__item {
            margin-right: 72px;
        }

        &__item:last-child {
            margin: 0;
        }

        &__link {
            padding: 0 10px;
            font-size: 16px;
            line-height: 22px;
            color: var(--color-333333);
            @include statesHeaderLink();
        }
    }


    &-bottom {
        &__left {
            width: 100%;
            margin-right: 116px;
        }

        &__form {
            position: relative;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #F7F7F7;

            svg {
                position: absolute;
                left: 34px;
                fill: var(--color-999999);
            }
        }


        &__input {
            padding: 20px 32px 20px 57px;
            border-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
            height: 60px;
            border: 2px solid transparent;
            outline: none;
            background-color: transparent;
            width: 100%;
            font-size: 16px;
            line-height: 120%;
            color: var(--color-333333);
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

            &::placeholder {
                font-size: 16px;
                line-height: 120%;
                color: var(--color-999999);
            }

            &:focus {
                background-color: var(--color-F8EFFF);
                border-color: var(--color-A65CF0);
            }

            &:hover {
                background-color: var(--color-EAEAEA);
                border-color: transparent;
            }

            &:active {
                background-color: transparent;
                border-color: transparent;

                +svg {
                    fill: var(--color-A65CF0);
                }
            }
        }

        &__btn {
            position: absolute;
            right: 32px;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border: 2px solid var(--color-A65CF0);

            &::after {
                position: absolute;
                content: "";
                width: 41%;
                height: 40%;
                top: 50%;
                left: 40%;
                border-radius: 50%;
                border-bottom-right-radius: 0;
                border: 2px solid var(--color-A65CF0);
                border-left-color: transparent;
                border-top-color: transparent;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        &__right {
            align-items: center;
            margin-right: -4px;
        }

        &__lk {
            margin-right: 24px;
            padding: 4px;
            background-color: transparent;
            transition: background-color 0.3s ease-in-out;

            svg {
                fill: var(--color-A65CF0);
                transition: fill 0.3s ease-in-out;
            }

            &:focus {
                background-color: var(--color-C998FB);

                svg {
                    fill: var(--color-FFFFFF);
                }
            }

            &:hover {
                background-color: transparent;

                svg {
                    fill: var(--color-C998FB);
                }
            }

            &:active {
                background-color: transparent;

                svg {
                    fill: var(--color-7033AC);
                }
            }
        }

        &__cart {
            padding: 3px 4px;
            transition: background-color 0.3s ease-in-out;

            svg {
                fill: var(--color-A65CF0);
                transition: fill 0.3s ease-in-out;
            }

            &:focus {
                background-color: var(--color-C998FB);

                svg {
                    fill: var(--color-FFFFFF);
                }
            }

            &:hover {
                background-color: transparent;

                svg {
                    fill: var(--color-C998FB);
                }
            }

            &:active {
                background-color: transparent;

                svg {
                    fill: var(--color-7033AC);
                }
            }
        }

        &__span {
            padding-top: 2px;
            width: 14px;
            height: 15px;
            border-radius: 100%;
            background-color: var(--color-FF862F);
            text-align: center;
            font-weight: 700;
            font-size: 10px;
            line-height: 100%;
            color: var(--color-FFFFFF);
        }
    }
}

.burger {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10000;

    &__line {
        position: absolute;
        display: block;
        border-radius: 4px;
        width: 24px;
        height: 3px;
        background-color: var(--color-A65CF0);
        transition: transform 0.5s ease-in-out, opacity 0.3s;

        &-top {
            top: 0px;
        }

        &-bottom {
            bottom: 0px;
        }

        &-center-first,
        &-center-second {
            top: 11px;
        }
    }


    &--active &__line-top {
        transform: translateY(11px);
        opacity: 0;
    }

    &--active &__line-bottom {
        transform: translateY(-11px);
        opacity: 0;
    }

    &--active &__line-center-first {
        transform: rotate(45deg);
    }

    &--active &__line-center-second {
        transform: rotate(-45deg);
    }
}

.select-top {
    position: relative;

    &__btn {
        padding-left: 2px;
        padding-right: 20px;
        min-width: 90px;
        font-size: 16px;
        line-height: 120%;
        color: var(--color-A65CF0);
        outline: none;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

        &::before {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            top: 6px;
            right: 10px;
            border: 1px solid var(--color-A65CF0);
            border-left-color: transparent;
            border-top-color: transparent;
            transform: rotate(45deg);
            transition: transform 0.3s ease-in-out;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        &:focus {
            color: var(--color-7033AC);
            background-color: var(--color-EBD1FF);

            &::before {
                border-color: var(--color-7033AC);
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }

        &:hover {
            color: var(--color-C998FB);
            background-color: transparent;

            &::before {
                border-color: var(--color-C998FB);
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }

        &:active {
            color: var(--color-7033AC);
            background-color: transparent;

            &::before {
                border-color: var(--color-7033AC);
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }

        &.select-top--active {
            color: var(--color-A65CF0);

            &::before {
                transform: rotate(-135deg);
                top: 7px;
                border-color: var(--color-7033AC);
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }
    }

    &__list {
        position: absolute;
        padding: 16px 0 19px 16px;
        width: 100%;
        display: none;
        background-color: var(--color-FFFFFF);
        border: 2px solid var(--color-F7F7F7);
    }

    &--active {
        display: block;
    }

    &__item {
        margin-bottom: 11px;
        font-size: 14px;
        line-height: 130%;
        cursor: pointer;

        &:last-child {
            margin: 0;
        }

        @include statesHeaderLink();

    }

    &__none {
        display: none;
    }

}

.select-bottom {
    position: relative;
    z-index: 100;
    min-width: 300px;




    &__btn {
        position: absolute;
        padding: 16px 32px;
        padding-right: 184px;
        background-color: var(--color-FFFFFF);
        border: 2px solid var(--color-F7F7F7);
        border-radius: 0 10px 10px 0;
        font-size: 16px;
        line-height: 22px;
        color: var(--color-A65CF0);
        outline: none;
        z-index: 100;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

        }

        &::after {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            right: 31px;
            top: 21px;
            border: 2px solid var(--color-A65CF0);
            border-left-color: transparent;
            border-top-color: transparent;
            transform: rotate(45deg);
            transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        &:focus {
            background-color: var(--color-F8EFFF);
            border-color: var(--color-A65CF0);
        }

        &:hover {
            background-color: var(--color-FFFFFF);
            border-color: var(--color-A65CF0);
        }

        &:active {
            background-color: var(--color-FFFFFF);
            border-color: var(--color-7033AC);
        }

        &.select-bottom--active {
            color: var(--color-A65CF0);

            &::after {
                transform: rotate(-135deg);
                top: 24px;
                border-color: var(--color-7033AC);
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }
    }

    &__list {
        display: none;
        position: absolute;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 82px;
        padding-left: 30px;
        padding-bottom: 12px;
        max-height: 260px;
        width: 100%;
        background: var(--color-FFFFFF);
        border: 2px solid var(--color-F7F7F7);
        border-radius: 10px;
        top: 0;
        left: 0;
        z-index: 10;
    }

    &--active {
        display: flex;
    }

    &__item {
        margin-bottom: 11px;
        font-size: 16px;
        line-height: 130%;
        cursor: pointer;
        @include statesHeaderLink();

    }
}

@media (max-width: 1300px) {
    .header {
        &__top {
            padding: 5px 0 4px;
        }

        &-top {

            &__left {
                padding: 18px 0 20px 0;
            }

            &__right {
                margin-left: -10px;
            }
        }

        &__inner {
            justify-content: space-between;
        }

        &__container--top {
            justify-content: space-between;
        }

        &-center__item {
            margin-right: 21px;
        }

        &-bottom {

            &__left {
                margin-right: 0;
            }

            &__right {
                padding-top: 2px;
            }
        }

        &-center {
            padding: 32px 0 30px;
        }
    }
}

@media (max-width: 1023px) {
    .burger {
        display: block;
        margin-right: 78px;
    }

    .header {

        &__top {
            padding: 16px 0 16px;
        }

        &-center {
            padding: 26px 0 26px;

            &__nav {
                background-image: url('./../img/header/burger-background.png');
                background-repeat: no-repeat;
                background-position: bottom right;
                background-size: contain;
            }

            &__right {
                position: absolute;
                margin: 0;
                padding: 92px 72px 60px;
                top: 110px;
                left: 0;
                width: 100%;
                height: 300px;
                background-color: var(--color-FFFFFF);
                visibility: hidden;
                opacity: 0;
                z-index: 1000;
                transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

            }

            &__left {
                margin-right: 0;
                padding-top: 3px;
            }

            &__list {
                flex-direction: column;
                flex-wrap: wrap;
                max-height: 148px;
                max-width: 338px;
            }

            &__item {
                margin: 0;
                margin-bottom: 20px;
            }
        }

        &__container--center {
            justify-content: space-between;
        }

        &-bottom {
            &__select {
                min-width: 190px;
            }
        }

        &-top__item {
            margin-right: 15px;
        }
    }

    .burger--active~.header-center__right {
        visibility: visible;
        opacity: 1;
    }

    .select-bottom {
        &__btn {

            padding-right: 75px;
        }

        &__list {
            padding-left: 10px;
        }
    }
}

@media (max-width: 767px) {
    .header {

        margin-bottom: 91px;

        &__container--top {
            justify-content: center;
        }

        &__center {
            border-top: 1px solid var(--color-F6F6F6);
            border-bottom: 1px solid var(--color-F6F6F6);
        }

        &__bottom {
            padding-top: 16px;
        }

        &-bottom {
            &__left {
                flex-direction: column;
            }

            &__form {
                margin-bottom: 17px;
                border-radius: 10px;
            }

            &__select {
                width: 100%;
                align-self: center;
            }

            &__input {
                border-radius: 10px;
            }

        }

        &-center {
            &__right {
                top: 123px;
                padding: 0;
                height: 100vh;
            }

            &__nav {
                margin-bottom: 26px;
                padding-top: 70px;
                padding-left: 12px;
                background-image: none;
            }

            &__list {
                flex-direction: column;
                flex-wrap: nowrap;
                max-height: none;
                max-width: none;
            }
        }

        &-top {
            &__right {
                padding: 24px 12px;
                background-color: var(--color-F7F7F7);
            }

            &__list {
                flex-wrap: wrap;
                max-height: 60px;
            }

            &__item {
                margin: 0;
                width: 50%;

                &:nth-child(1) {
                    margin-bottom: 12px;
                }

                &:nth-child(2) {
                    margin-bottom: 12px;
                }
            }
        }
    }

    .select-bottom {
        &__btn {
            width: 100%;
            text-align: left;
            border-radius: 10px;
        }

        &__list {
            padding-left: 30px;
        }

    }
}


@media (max-width: 532px) {
    .header {

        &__top {
            padding: 9px 0 8px;
        }

        &__inner {
            flex-direction: column;
        }

        &__wrapper {
            margin-bottom: 17px;
        }

        &-center {
            padding: 4px 0 3px;
        }

        &__container--center {
            padding-left: 16px;
        }
    }
}